<article class="folder">
    <a href="{{ path("cypress_gallery_list", { "level": app.request.get('level') - 1 }) }}">
        <img src="/bundles/assetsgallery/images/folder-back.png" alt="Go Back" title="Go back" />
    </a>
    <h2>Back</h2>
</article>