<ul class="breadcrumb">
    {% for the_folder in breadcrumb %}
        {% if the_folder.lft == 1 %}
            <li class="home">
                {% if folder.id == the_folder.id %}
                    <span>HOME</span>
                {% else %}
                    <a href="{{ path("cypress_gallery_list") }}">HOME</a>
                {% endif %}
            </li>
        {% else %}
            {% if folder.id == the_folder.id %}
                <li><span>{{ the_folder }}</span></li>
            {% else %}
                <li><a href="{{ path("cypress_gallery_list", { "folder_id": the_folder.id }) }}">{{ the_folder }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>