<li>
    {% include "AssetsGalleryBundle:Slices:folder_tree_label.html.twig" %}
    {% if not folder.isLeaf %}
        <ul>
        {% for children in folder.children %}
            {% include "AssetsGalleryBundle:Slices:folder_tree_branch.html.twig" with { 'folder': children } %}
        {% endfor %}
        </ul>
    {% endif %}
</li>