@charset "utf-8";
/* line 4, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 45, icon */
.icon-sprite, .icon-add, .icon-back, .icon-delete, .icon-edit {
  background: url('../images/icon-se068dc9246.png') no-repeat;
}

/* line 60, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-add {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-back {
  background-position: 0 -16px;
}

/* line 60, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-delete {
  background-position: 0 -32px;
}

/* line 60, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-edit {
  background-position: 0 -48px;
}

/* line 2, ../../compass/sass/partials/_main.scss */
section#assets-gallery {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 1em;
  font-size: 62.5%;
  font-family: 'Ubuntu', arial, serif;
  color: #333333;
}
/* line 2, ../../compass/sass/partials/_functions.scss */
section#assets-gallery a {
  color: #038cac;
  text-decoration: none !important;
}
/* line 18, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
section#assets-gallery a:visited {
  color: #015b70;
}
/* line 24, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
section#assets-gallery a:hover {
  color: #ff7f00;
}
/* line 27, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
section#assets-gallery a:active {
  color: #015b70;
}
/* line 5, ../../compass/sass/partials/_functions.scss */
section#assets-gallery a:hover {
  text-decoration: underline !important;
}
/* line 9, ../../compass/sass/partials/_main.scss */
section#assets-gallery a {
  outline: none;
}
/* line 12, ../../compass/sass/partials/_main.scss */
section#assets-gallery a.icon {
  padding-left: 20px;
  font-size: 1.1em;
}
/* line 16, ../../compass/sass/partials/_main.scss */
section#assets-gallery h1 {
  text-shadow: #dddddd 2px 2px 2px;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -khtml-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-shadow: 0px 0px 0.3em 0.1em #dddddd;
  -webkit-box-shadow: 0px 0px 0.3em 0.1em #dddddd;
  -o-box-shadow: 0px 0px 0.3em 0.1em #dddddd;
  box-shadow: 0px 0px 0.3em 0.1em #dddddd;
  font-size: 3em;
  margin: 0.5em 0;
  border: 1px solid #CCC;
  background-color: #EEE;
  text-align: center;
  padding: 0.2em 0.2em 0.4em;
}
/* line 28, ../../compass/sass/partials/_main.scss */
section#assets-gallery .header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 910px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 147, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html section#assets-gallery .header {
  overflow-x: hidden;
}
/* line 33, ../../compass/sass/partials/_main.scss */
section#assets-gallery ul.actions {
  list-style: none;
  list-style-type: none;
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 910px;
  margin-bottom: 1em !important;
  font-size: 1.2em;
}
/* line 11, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
section#assets-gallery ul.actions li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 5, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
section#assets-gallery ul.actions, section#assets-gallery ul.actions li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 147, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html section#assets-gallery ul.actions {
  overflow-x: hidden;
}
/* line 40, ../../compass/sass/partials/_main.scss */
section#assets-gallery ul.actions li {
  margin-right: 1em;
}
/* line 42, ../../compass/sass/partials/_main.scss */
section#assets-gallery ul.actions li a {
  height: 1.3em;
}
/* line 47, ../../compass/sass/partials/_main.scss */
section#assets-gallery ul.breadcrumb {
  list-style: none;
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 910px;
  border: 1px solid #dedede;
  height: 2.8em;
}
/* line 11, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
section#assets-gallery ul.breadcrumb li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 147, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html section#assets-gallery ul.breadcrumb {
  overflow-x: hidden;
}
/* line 53, ../../compass/sass/partials/_main.scss */
section#assets-gallery ul.breadcrumb li {
  float: left;
  line-height: 2.3em;
  font-size: 1.2em;
  padding-left: 0.75em;
  color: #777;
}
/* line 59, ../../compass/sass/partials/_main.scss */
section#assets-gallery ul.breadcrumb li.home {
  background: url('../images/folder-home.png?1308230466') no-repeat 0.4em;
  padding-left: 2.2em;
}
/* line 63, ../../compass/sass/partials/_main.scss */
section#assets-gallery ul.breadcrumb li a {
  display: block;
  padding: 0 15px 0 0;
  background: url('../images/crumbs.gif?1308229665') no-repeat right center;
  outline: none;
}
/* line 71, ../../compass/sass/partials/_main.scss */
section#assets-gallery form {
  margin-top: 2em;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html section#assets-gallery form {
  overflow-x: hidden;
}
/* line 74, ../../compass/sass/partials/_main.scss */
section#assets-gallery form fieldset {
  margin: 2em;
  padding: 1em;
  background-color: #EEE;
  border: 1px solid #CCC;
  -moz-box-shadow: 0px 0px 2em 0.2em #dddddd;
  -webkit-box-shadow: 0px 0px 2em 0.2em #dddddd;
  -o-box-shadow: 0px 0px 2em 0.2em #dddddd;
  box-shadow: 0px 0px 2em 0.2em #dddddd;
}
/* line 81, ../../compass/sass/partials/_main.scss */
section#assets-gallery form section.submit {
  text-align: right;
}
/* line 83, ../../compass/sass/partials/_main.scss */
section#assets-gallery form section.submit input {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
}
/* line 7, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
section#assets-gallery form section.submit input {
  *display: inline;
}
/* line 75, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
section#assets-gallery form section.submit input img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
/* line 95, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
section#assets-gallery form section.submit input[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
/* line 98, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
*:first-child + html section#assets-gallery form section.submit input[type] {
  padding: 4px 10px 3px 7px;
}
/* line 87, ../../compass/sass/partials/_main.scss */
section#assets-gallery form input[type=text] {
  width: 30em;
}
/* line 90, ../../compass/sass/partials/_main.scss */
section#assets-gallery form textarea {
  width: 500px;
  height: 10em;
}
/* line 96, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.form-field {
  overflow: hidden;
  *zoom: 1;
  width: auto;
  position: relative;
  padding: 1em 0;
}
/* line 101, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.form-field label {
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 10em;
  color: #038cac;
  font-size: 1.5em;
  line-height: 1.5em;
}
/* line 109, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.form-field label:first-letter {
  color: #ff7f00;
}
/* line 113, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.form-field section.field {
  float: left;
  padding-left: 15em;
}
/* line 119, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.assets-list {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-right: 0;
  width: 910px;
  padding-left: 20px;
  padding-right: 20px;
  clear: both;
}
/* line 147, ../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html section#assets-gallery section.assets-list {
  overflow-x: hidden;
}
/* line 125, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.assets-list article {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 1em 0.1em #dddddd;
  -webkit-box-shadow: 0px 0px 1em 0.1em #dddddd;
  -o-box-shadow: 0px 0px 1em 0.1em #dddddd;
  box-shadow: 0px 0px 1em 0.1em #dddddd;
  margin-top: 2em;
  position: relative;
  float: left;
  width: 12.8em;
  height: 15.8em;
  padding: 1em;
  border: 1px solid #DDD;
  margin-right: 1em;
  overflow: hidden;
}
/* line 137, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.assets-list article.hover {
  border: 1px solid #BBB;
  -moz-box-shadow: 0px 0px 1em 0.2em #cccccc;
  -webkit-box-shadow: 0px 0px 1em 0.2em #cccccc;
  -o-box-shadow: 0px 0px 1em 0.2em #cccccc;
  box-shadow: 0px 0px 1em 0.2em #cccccc;
}
/* line 141, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.assets-list article a {
  outline: none;
}
/* line 144, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.assets-list article h2 {
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
}
/* line 149, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.assets-list article .action {
  height: 16px;
  position: absolute;
  line-height: 16px;
  display: block;
  font-size: 14px;
  background-color: #EEE;
  border-top: 1px solid #BBB;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  padding: 4px 4px 4px 8px;
  left: 0;
}
/* line 161, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.assets-list article .action.first {
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -khtml-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background-color: #EEE;
  top: 12px;
}
/* line 166, ../../compass/sass/partials/_main.scss */
section#assets-gallery section.assets-list article .action.second {
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -khtml-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  top: 40px;
  background-color: #EEE;
}
