{% extends 'CmsBundle::backend.html.twig' %}

{% block body %}
<section id="main">
    <h2>{% trans %}Pages{% endtrans %}</h2>
    <section class="content">
        <a href="{{ path('be_pages') }}">Torna alla lista</a>
        <section class="form">
            form
        </section>
    </section>
    <aside>column</aside>
</section>
{% endblock %}