<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets "@CmsBundle/Resources/compass/sass/screen.sass" filter="compass" %}
                <link href="{{ asset_url }}" media="screen, projection" rel="stylesheet" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="bp">
        <section id="container">
            {% block body %}{% endblock %}
        </section>
    </body>
</html>