{% block field_row %}
{% spaceless %}
    <section class="form-field">
      {{ form_label(form) }}
      <section class="field">{{ form_widget(form) }}</section>
      {{ form_errors(form) }}
    </section>
{% endspaceless %}
{% endblock field_row %}