{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link href="/bundles/assetsgallery/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/bundles/assetsgallery/css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="/bundles/assetsgallery/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold' rel='stylesheet' type='text/css' />
{% endblock %}
    
{% block javascripts %}
    <script src="/bundles/assetsgallery/js/jquery-1.6.1.min.js"></script>
    <script src="/bundles/assetsgallery/js/jquery.hoverIntent.minified.js"></script>
    <script src="/bundles/assetsgallery/js/jquery.easing.1.3.js"></script>
    <script src="/bundles/assetsgallery/js/jquery-ui-1.8.13.custom.min.js"></script>
{% endblock %}
    
{% block body %}
    <section id="assets-gallery">
        <section class="header">
            {% block header %}{% endblock %}
        </section>
        {% block content %}{% endblock %}
    </section>
{% endblock %}