{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link href="/bundles/assetsgallery/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/bundles/assetsgallery/css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="/bundles/assetsgallery/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold' rel='stylesheet' type='text/css' />
{% endblock %}
    
{% block javascripts %}
    {% javascripts "@assets_gallery_bundle_js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    
{% block body %}
    <section id="assets-gallery">
        {% block flash_messages %}
            {% if app.session.hasFlash('success') %}
                <section class="flash-message success">{{ app.session.getFlash('success') }}</section>
            {% endif %}
        {% endblock %}
        {% block js_code %}{% endblock %}
        <section class="header">
            {% block header %}{% endblock %}
        </section>
        {% block content %}{% endblock %}
    </section>
{% endblock %}