{% extends "::base.html.twig" %}

{% block title %}Assets Gallery{% endblock %}

{% block stylesheets %}
    <link href="/bundles/assetsgallery/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/bundles/assetsgallery/css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="/bundles/assetsgallery/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold' rel='stylesheet' type='text/css' />
{% endblock %}
    
{% block javascripts %}
    {% javascripts output="js/assets_gallery.js" filter="?yui_js" output="js/all.js"
            "@AssetsGalleryBundle/Resources/javascripts/plugins/jquery-1.6.1.min.js"
            "@AssetsGalleryBundle/Resources/javascripts/plugins/jquery-ui-1.8.13.custom.min.js"
            "@AssetsGalleryBundle/Resources/javascripts/plugins/jquery.hoverIntent.minified.js"
            "@AssetsGalleryBundle/Resources/javascripts/plugins/jquery.fancybox-1.3.4.pack.js"
            "@AssetsGalleryBundle/Resources/javascripts/plugins/jquery.easing-1.3.pack.js"
            "@AssetsGalleryBundle/Resources/javascripts/plugins/jquery.mousewheel-3.0.4.pack.js"
            "@AssetsGalleryBundle/Resources/javascripts/plugins/jquery.treeview.js"
            "@AssetsGalleryBundle/Resources/javascripts/assets_gallery.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    
{% block body %}
    <section id="assets-gallery">
        {% block flash_messages %}
        <section id="flashes">
            {% if app.session.hasFlash('success') %}
                <section class="flash-message success">{{ app.session.getFlash('success') }}</section>
            {% endif %}
        </section>
        {% endblock %}
        {% block js_code %}{% endblock %}
        <section class="header">
            {% block header %}{% endblock %}
        </section>
        {% block content %}{% endblock %}
    </section>
{% endblock %}