{% extends "AssetsGalleryBundle::base.html.twig" %}

{% block content %}
    <ul class="actions">
        <li><a class="icon icon-add" href="{{ path('cypress_gallery_add') }}">Inserisci un nuovo asset</a></li>
        <li><a class="icon icon-add" href="{{ path('cypress_gallery_folder_add') }}">Inserisci una nuova cartella</a></li>
    </ul>
    
    
    <section class="assets-list">
        {% for asset in assets %}
            {% include "AssetsGalleryBundle:Slices:asset.html.twig" %}
        {% endfor %}
    </section>
{% endblock %}
